html,
body {
  background: linear-gradient(to right, #f9f1ec, #ffffff);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.office {
  border: chartreuse 1px solid;
}

.office-image {
  justify-content: center;
  align-content: center;
}

.team {
  background-color: rgb(232, 215, 194);
}